[submodule "panda"]
  path = panda
  url = https://github.com/cbetlyon/panda/tree/df3d3a10b7277f486e752f8a065bf20eefd6e5b8
[submodule "opendbc"]
  path = opendbc
  url = ../../commaai/opendbc.git
[submodule "laika_repo"]
  path = laika_repo
  url = ../../commaai/laika.git
[submodule "cereal"]
  path = cereal
  url = ../../commaai/cereal.git
[submodule "rednose_repo"]
  path = rednose_repo
  url = ../../commaai/rednose.git
[submodule "body"]
  path = body
  url = ../../commaai/body.git
[submodule "tinygrad"]
  path = tinygrad_repo
  url = https://github.com/geohot/tinygrad.git
